.post {
  lost-column: 1/1 0 0;
  padding-left: 25px;
  padding-right: 25px;

  @media (--tablet) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (--desktop) {
    padding-left: 50px;
    padding-right: 50px;
  }

  &-container {
    lost-center: 980px;
    lost-align: center;
    text-align: left;
    margin-top: 30px;

    &-title {}

    &-body {
      font-size: responsive 15px 20px;
      text-align:  left;
      line-height: 1.5;
    }
  }
}
