a {
  color: var(--link);
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.15s;
  &:hover {
    color: color(var(--link) a(60%));
    text-decoration: none;
  }
  &:visited {
    /* text-decoration: underline color(var(--link) a(80%)); */
  }
  &:focus {
    /* text-decoration: underline color(var(--link) a(60%)); */
  }
}

*::selection {
  color: #fff;
  background: var(--link);
}
