:root {
  --bgColor: rgba(0, 0, 0, .02);
  --fontColor: hsl(201, 24%, 20%);
  --link: hsl(201, 84%, 50%);
  /* --fontSystem: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Sans GB",Arial,sans-serif; */
}
